body {
  font-family: Arial;
  background: #f5f6fa;
  padding: 40px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: rgb(20, 8, 8);
}

.searchbar {
  text-align: center;
  margin-top: 20px;
}

.searchbar input {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.searchbar button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.k-toggle {
  text-align: center;
  margin-top: 15px;
}

.kbtn {
  margin: 5px;
  padding: 6px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.kbtn:hover {
  background: #eaeaea;
}

.kbtn.active {
  background: black;
  color: white;
  border: 1px solid black;
}

.card {
  margin-top: 30px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.result-count {
  color: gray;
  margin-top: 0;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}

thead tr {
  background: #f1f3f6;
}

th, td {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-top: 1px solid #eee;
}

.title {
  font-weight: 500;
}
